:root {
  --raisin-black: #2E2C2F;
  --paynes-gray: #475B63;
  --cambridge-blue: #729B79;
  --ash-gray: #BACDB0;
  --light-gray: #f0f0f0;

  --primary-hover: #63876A;
  --primary-active: #53725A;
  --secondary-hover: #3E4E56;
  --secondary-active: #344148;
}
