:root {
  --raisin-black: #2E2C2F;
  --paynes-gray: #475B63;
  --cambridge-blue: #729B79;
  --ash-gray: #BACDB0;
  --lavender-blush: #F3E8EE;
  --vermilion: #EF3E36;
  --pale-dogwood: #F2CCC3;
  --light-gray: #f0f0f0;
}
