:root {
  font-family: 'Manrope', sans-serif;
  color: var(--raisin-black);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* position: relative; */
}
